In [1]:
import pandas as pd
import numpy as np

In [2]:
housing=pd.read_csv("hdata.csv")

In [3]:
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CRIM      506 non-null    float64
 1   ZN        506 non-null    float64
 2   INDUS     506 non-null    float64
 3   CHAS      506 non-null    int64
 4   NOX       506 non-null    float64
 5   RM        501 non-null    float64
 6   AGE       506 non-null    float64
 7   DIS       506 non-null    float64
 8   RAD       506 non-null    int64
 9   TAX       506 non-null    int64
 10  PTRATIO   506 non-null    float64
 11  B         506 non-null    float64
 12  LSTAT     506 non-null    float64
 13  MEDV      506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [5]:
housing['ZN'].value_counts() # TO GET THE COUNT OF EACH VALUE OF ZN, LIKE 0 APPEARED 372 TIMES, 80 DID 15 TIMES, ETC

0.0      372
20.0      21
80.0      15
22.0      10
12.5      10
25.0      10
40.0       7
45.0       6
30.0       6
90.0       5
95.0       4
60.0       4
21.0       4
33.0       4
55.0       3
70.0       3
34.0       3
52.5       3
35.0       3
28.0       3
75.0       3
82.5       2
85.0       2
17.5       1
100.0      1
18.0       1
Name: ZN, dtype: int64

In [6]:
housing.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,501.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284341,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.705587,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.884000,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208000,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.625000,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [7]:
import matplotlib.pyplot as plt

In [8]:
#housing.hist(bins=50,figsize=(20,20))
#plt.show()

# SPLITTING DATA RANDOMLY INTO TRAIN AND TEST WITH 80:20 RATIO

In [9]:
'''#creating a function to split data into train and test
def split_train_test(data, test_ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))#to get random indices
    test_set_size=int(len(data)*test_ratio) # here we take 80:20 train:test ratio, so total length *0.2 is length of test data
    #splitting the random indices into 2 parts
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices] #we return the data at those indices, ie 
#test data, train data returned

train_set, test_set= split_train_test(housing,0.2)
'''

'#creating a function to split data into train and test\ndef split_train_test(data, test_ratio):\n    np.random.seed(42)\n    shuffled = np.random.permutation(len(data))#to get random indices\n    test_set_size=int(len(data)*test_ratio) # here we take 80:20 train:test ratio, so total length *0.2 is length of test data\n    #splitting the random indices into 2 parts\n    test_indices=shuffled[:test_set_size]\n    train_indices=shuffled[test_set_size:]\n    return data.iloc[train_indices],data.iloc[test_indices] #we return the data at those indices, ie \n#test data, train data returned\n\ntrain_set, test_set= split_train_test(housing,0.2)\n'

In [10]:
from sklearn.model_selection import train_test_split

train_set, test_set= train_test_split(housing,test_size=0.2,random_state=42)

print(f"train set is : {len(train_set)} \ntest set is : {len(test_set)}") #both add upto 506, ie total

train set is : 404
test set is : 102

# stratified splitting wrt 'CHAS' variable

In [11]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2,random_state=42)
#split(x,y) is used to get indices, takes in x the training data, and y based on which the stratifying is done 
#here we are stratifying on the basis of CHAS variable, so that it is split properly into train and test sets
for train_index,test_index in split.split(housing, housing['CHAS']):
    strat_train_set=housing.loc[train_index] #get indexes using split() and then getting loc values at those indexes into trainset
    strat_test_set=housing.loc[test_index]

In [12]:
strat_test_set['CHAS'].value_counts()

0    95
1     7
Name: CHAS, dtype: int64

In [13]:
strat_train_set['CHAS'].value_counts()

0    376
1     28
Name: CHAS, dtype: int64

In [14]:
#HENCE WE SEE THE DATA IS PROPERLY SPLIT IN BOTH acc to chas variable, 0s and 1s are split in same ratio for both train and test
print(95/7)
print(376/28)

13.571428571428571
13.428571428571429

# MAKING OUR DF ONLY OF THE TRAIN DATA

In [15]:
housing=strat_train_set.copy() #404 values out of 506

## looking for correlations

In [16]:
#corr() finds pairwise correlation of all columns in the dataframe, can choose which method ie pearson, kendall etc for 
#correlation
#correlation wrt a variable x lets say means, if y increases x will increase, so positive correlation
#and if say z decreases and then x increases, so its -ve correlation
#values lie between -1 TO 1
#The correlation of a variable with itself is 1.00
#For that reason all the diagonal values are 1.00
corr_matrix=housing.corr()
corr_matrix

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
CRIM,1.000000,-0.212927,0.416640,-0.061482,0.430879,-0.257663,0.361890,-0.386900,0.648221,0.603934,0.305603,-0.486869,0.471442,-0.393715
ZN,-0.212927,1.000000,-0.542161,-0.023536,-0.509327,0.292252,-0.565680,0.666939,-0.306480,-0.322803,-0.390570,0.188575,-0.420097,0.339741
INDUS,0.416640,-0.542161,1.000000,0.043686,0.759051,-0.385324,0.644114,-0.708612,0.580908,0.716288,0.384465,-0.368685,0.611068,-0.473516
CHAS,-0.061482,-0.023536,0.043686,1.000000,0.077490,0.100385,0.058388,-0.088081,-0.023005,-0.048802,-0.132682,0.048275,-0.077592,0.205066
NOX,0.430879,-0.509327,0.759051,0.077490,1.000000,-0.300860,0.727358,-0.763623,0.596012,0.659049,0.164977,-0.408434,0.602386,-0.422873
RM,-0.257663,0.292252,-0.385324,0.100385,-0.300860,1.000000,-0.241318,0.204159,-0.200095,-0.282449,-0.331544,0.122472,-0.603006,0.680857
AGE,0.361890,-0.565680,0.644114,0.058388,0.727358,-0.241318,1.000000,-0.734827,0.449489,0.501491,0.259633,-0.287900,0.599211,-0.364596
DIS,-0.386900,0.666939,-0.708612,-0.088081,-0.763623,0.204159,-0.734827,1.000000,-0.481556,-0.530840,-0.215173,0.309222,-0.501408,0.240451
RAD,0.648221,-0.306480,0.580908,-0.023005,0.596012,-0.200095,0.449489,-0.481556,1.000000,0.910932,0.471912,-0.490951,0.479857,-0.374693
TAX,0.603934,-0.322803,0.716288,-0.048802,0.659049,-0.282449,0.501491,-0.530840,0.910932,1.000000,0.473026,-0.475293,0.534228,-0.456657
PTRATIO,0.305603,-0.390570,0.384465,-0.132682,0.164977,-0.331544,0.259633,-0.215173,0.471912,0.473026,1.000000,-0.193293,0.370759,-0.493534
B,-0.486869,0.188575,-0.368685,0.048275,-0.408434,0.122472,-0.287900,0.309222,-0.490951,-0.475293,-0.193293,1.000000,-0.405799,0.361761
LSTAT,0.471442,-0.420097,0.611068,-0.077592,0.602386,-0.603006,0.599211,-0.501408,0.479857,0.534228,0.370759,-0.405799,1.000000,-0.740494
MEDV,-0.393715,0.339741,-0.473516,0.205066,-0.422873,0.680857,-0.364596,0.240451,-0.374693,-0.456657,-0.493534,0.361761,-0.740494,1.000000

In [17]:
#find corr wrt medv aka our price
corr_matrix['MEDV'].sort_values(ascending=False)

MEDV        1.000000
RM          0.680857
B           0.361761
ZN          0.339741
DIS         0.240451
CHAS        0.205066
AGE        -0.364596
RAD        -0.374693
CRIM       -0.393715
NOX        -0.422873
TAX        -0.456657
INDUS      -0.473516
PTRATIO    -0.493534
LSTAT      -0.740494
Name: MEDV, dtype: float64

# NOW WE USE SCATTER PLOTS OF CORR WITH THOSE FEATURES THAT HAVE HIGH CORRELATION -VE OR +VE

In [18]:
# from pandas.plotting import scatter_matrix
# attr= ["MEDV","RM","LSTAT","ZN"]
# scatter_matrix(housing[attr],figsize=((12,8)))
# here we see that MEDV has POSITVE corr with RM and NEGATIVE corr with LSTAT 
#upwards graph is +ve corr, downawards is -ve corr

# now, we can make a scatter plot, to find and remove OUTLYING POINTS
# removing these points can make our model better

In [19]:
#housing.plot(kind="scatter",x="RM",y="MEDV")
#same thing can be done using :
#plt.scatter('RM', 'MEDV', data=housing)

#the values ie horizontal line at medv 50, ARE because there must be some capping done
# the other values here and there are OUTLYING POINTS, can be removed

# trying out attribute(feature) combinations to create a new feature, might help us

In [20]:
#creating a new feaure taxrm which is tax divided by rm
housing['TAXRM']=housing['TAX']/housing['RM']
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,TAXRM
254,0.04819,80.0,3.64,0,0.392,6.108,32.0,9.2203,1,315,16.4,392.89,6.57,21.9,51.571709
348,0.01501,80.0,2.01,0,0.435,6.635,29.7,8.3440,4,280,17.0,390.94,5.99,24.5,42.200452
476,4.87141,0.0,18.10,0,0.614,6.484,93.6,2.3053,24,666,20.2,396.21,18.68,16.7,102.714374
321,0.18159,0.0,7.38,0,0.493,6.376,54.3,4.5404,5,287,19.6,396.90,6.87,23.1,45.012547
326,0.30347,0.0,7.38,0,0.493,6.312,28.9,5.4159,5,287,19.6,396.90,6.15,23.0,45.468948

In [21]:
corr_matrix=housing.corr()
corr_matrix['MEDV'].sort_values(ascending=False)

MEDV        1.000000
RM          0.680857
B           0.361761
ZN          0.339741
DIS         0.240451
CHAS        0.205066
AGE        -0.364596
RAD        -0.374693
CRIM       -0.393715
NOX        -0.422873
TAX        -0.456657
INDUS      -0.473516
PTRATIO    -0.493534
TAXRM      -0.528626
LSTAT      -0.740494
Name: MEDV, dtype: float64

In [22]:
# TURNS OUT, TAXRM has a high negative correlation, so we can use it to find some outlying points and plot and check it out
#housing.plot(kind="scatter",x="TAXRM",y="MEDV")
#nice plot, new feature is good

In [23]:
housing=strat_train_set.drop("MEDV",axis=1)#dropping medv column and making HOUSING only consist of data
housing_labels=strat_train_set["MEDV"].copy()

# DEALING WITH MISSING VALUES

In [24]:
# we deleted 5 values from RM COLUMN 
#WE HAVE 3 options to take care of this :
#1 get rid of the data points - HAVE TO SEE HOW WELL IT IS CORRELATED TO DO THIS
#2 get rid of the entire attribute - CAN DO IF MANY MISSING VALUES 
#3 set it to some value(0,median or mean) - WE DOING THIS

In [25]:
a=housing.dropna(subset=["RM"])
a.shape
# opn 1,we can see now we have 501 rows 
#here original df housing not changed, as we have not written INPLACE/INLINE

(399, 13)

In [26]:
#opn 2, this removed RM COLUMN
housing.drop("RM",axis=1).shape 
#here original df housing not changed, as we have not written INPLACE/INLINE

(404, 12)

In [27]:
#opn 3
median=housing["RM"].median()

In [28]:
housing["RM"].fillna(median) #fill NA values with median of RM
#here original df housing not changed, as we have not written INPLACE/INLINE

254    6.108
348    6.635
476    6.484
321    6.376
326    6.312
       ...
155    6.152
423    6.103
98     7.820
455    6.525
216    5.888
Name: RM, Length: 404, dtype: float64

In [29]:
housing.shape

(404, 13)

In [30]:
housing.describe() # HERE RM HAS 399 VALUES

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,404.000000,404.000000,404.000000,404.000000,404.000000,399.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000
mean,3.602814,10.836634,11.344950,0.069307,0.558064,6.279481,69.039851,3.746210,9.735149,412.341584,18.473267,353.392822,12.791609
std,8.099383,22.150636,6.877817,0.254290,0.116875,0.716784,28.258248,2.099057,8.731259,168.672623,2.129243,96.069235,7.235740
min,0.006320,0.000000,0.740000,0.000000,0.389000,3.561000,2.900000,1.129600,1.000000,187.000000,13.000000,0.320000,1.730000
25%,0.086962,0.000000,5.190000,0.000000,0.453000,5.876500,44.850000,2.035975,4.000000,284.000000,17.400000,374.617500,6.847500
50%,0.286735,0.000000,9.900000,0.000000,0.538000,6.209000,78.200000,3.122200,5.000000,337.000000,19.000000,390.955000,11.570000
75%,3.731923,12.500000,18.100000,0.000000,0.631000,6.630500,94.100000,5.100400,24.000000,666.000000,20.200000,395.630000,17.102500
max,73.534100,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,36.980000

## imputing

In [31]:
#using sklearn to fit in median 
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")
imputer.fit(housing) #fitting the median values for ALL not just RM in housing

SimpleImputer(strategy='median')

In [32]:
imputer.statistics_ #median for ALL columns will be put for ALL missing values

array([2.86735e-01, 0.00000e+00, 9.90000e+00, 0.00000e+00, 5.38000e-01,
       6.20900e+00, 7.82000e+01, 3.12220e+00, 5.00000e+00, 3.37000e+02,
       1.90000e+01, 3.90955e+02, 1.15700e+01])

In [33]:
X=imputer.transform(housing) #this is a np array, so we put it into a df

In [34]:
housing_tr=pd.DataFrame(X, columns=housing.columns)

In [35]:
housing_tr.describe() # now you see, ALL HAVE 404 VALUES including RM

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000
mean,3.602814,10.836634,11.344950,0.069307,0.558064,6.278609,69.039851,3.746210,9.735149,412.341584,18.473267,353.392822,12.791609
std,8.099383,22.150636,6.877817,0.254290,0.116875,0.712366,28.258248,2.099057,8.731259,168.672623,2.129243,96.069235,7.235740
min,0.006320,0.000000,0.740000,0.000000,0.389000,3.561000,2.900000,1.129600,1.000000,187.000000,13.000000,0.320000,1.730000
25%,0.086962,0.000000,5.190000,0.000000,0.453000,5.878750,44.850000,2.035975,4.000000,284.000000,17.400000,374.617500,6.847500
50%,0.286735,0.000000,9.900000,0.000000,0.538000,6.209000,78.200000,3.122200,5.000000,337.000000,19.000000,390.955000,11.570000
75%,3.731923,12.500000,18.100000,0.000000,0.631000,6.630000,94.100000,5.100400,24.000000,666.000000,20.200000,395.630000,17.102500
max,73.534100,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,36.980000

In [36]:
 # BTW, WE NEED TO DO ALL THIS WORK ON TRAIN DATA ONLY, NOT TEST

SCIKIT LEARN DESIGN

Scikit learn has three kinds of objects 
1) estimators- estimate some parameters based on a data set example imputer 

It has a fit method which fits the data set and calculates internal parameters like median
It also has a transform method, like fill in the median 

2) transformers- transform method takes Input and returns output based on learnings from fit function convenience function called fit_transform() which fits then transforms 

3)predictors- linear regression model is an example it has fit and product function 
also gives some score function to evaluate that prediction

# feature scaling

#SO THAT ALL the features are of the same scale, for eg rooms are 2-8 and zn is 0 to 100, so most models do better with feature scaling

2 ways primarily for scaling:
1) min-max scaling(normalization)
(value-min)/(max-min)
this scales down all to 0 to 1
sklearn provides a class called MinMaxScaler for this

2) Standardization 
(value-mean)/standarddeviation
its variance becomes 1
sklearn provides a class called StandardScaler for this

we will use standard scaler

# pipeline

#series of steps to automate our work 

#A machine learning pipeline is the end-to-end construct that orchestrates the flow of data into, and output from, a machine learning model (or set of multiple models). It includes raw data input, features, outputs, the machine learning model and model parameters, and prediction outputs.

basically after analysing our data all imputing stuff should be done here !

In [37]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
my_pipeline= Pipeline([
    ('imputer',SimpleImputer(strategy="median")),
    # add as many as you want in pipeline
    ('std_scaler', StandardScaler()),
                      ])

In [38]:
housing_num_tr=my_pipeline.fit_transform(housing) #putting in housing as housing_tr we imputed alagse, shouldve done in pipeline only
# THIS RETURNS A NP ARRAY
#NOT A PANDAS DF
#AS PREDICTORS TAKE NP ARRAY INTO INPUT

In [39]:
 housing_num_tr.shape
    # we dont need the last 15th column as it is label

(404, 13)

# SELECTING A MODEL FOR REAL ESTATE

In [40]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import ElasticNet
#model=LinearRegression()
#model=DecisionTreeRegressor()
model=RandomForestRegressor()
#model=Ridge()
#model=ElasticNet()
model.fit(housing_num_tr,housing_labels)#sending in our trained data and labels

RandomForestRegressor()

In [41]:
some_data= housing.iloc[:5] #from og data
some_labels=housing_labels.iloc[:5]

In [42]:
prepared_data=my_pipeline.transform(some_data)

In [43]:
model.predict(prepared_data)

array([22.453, 25.081, 16.759, 23.503, 23.455])

In [44]:
 list(some_labels) #we can compare our predict with the labels

[21.9, 24.5, 16.7, 23.1, 23.0]

# evaluating the model

LINEAR REG gave us error 23, so we try to change the model to lower the error

In [45]:
from sklearn.metrics import mean_squared_error
housing_predictions=model.predict(housing_num_tr)
mse=mean_squared_error(housing_labels,housing_predictions)#we have alot of error, so lets try a new model

now, we have 0 error, that means OVERFITTING has happened with the train data , which we dont want
we want to learn TREND, not the NOISE

In [46]:
rmse=np.sqrt(mse)
rmse

1.1986101357095813

trying decision tree by commenting out linear reg ^

# using better evaluation technique, cross validation

Cross-validation is a resampling method that uses different portions of the data to test and train a model on different iterations

ie if the data is [1,2,3,4,5,6], then we remove 1 and train model on remaining, get error
then we remove 2, train model on remaining, get error

and SO on..

In [47]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model,housing_num_tr,housing_labels,scoring="neg_mean_squared_error",cv=10)
rmse_scores=np.sqrt(-scores)#as neg doesnt have sqrt

#so we can see its not actually zero using decision tree,
#decision tree best model by far

In [48]:
rmse_scores

array([2.82236378, 2.80192457, 4.41662387, 2.6913264 , 3.28129668,
       2.75057371, 4.75674645, 3.2816381 , 3.10274634, 3.14953882])

In [49]:
#also checking rmse scores for linear ^ by commenting out dectree

In [50]:
def print_scores(scores):
    print("scores :", scores)
    print("mean :", scores.mean())
    print("st deviation :", scores.std())

In [51]:
print_scores(rmse_scores)

scores : [2.82236378 2.80192457 4.41662387 2.6913264  3.28129668 2.75057371
 4.75674645 3.2816381  3.10274634 3.14953882]
mean : 3.305477871860538
st deviation : 0.6767172113882586

# hence we select random forest regressor

# saving the model

In [52]:
#convert pipeline into a py file and run in vscode
from joblib import dump, load
dump(model, 'FX_Finance.joblib')

['FX_Finance.joblib']

# testing the model on test data

In [53]:
# X_test=strat_test_set.drop("MEDV",axis=1)
# Y_test=strat_test_set["MEDV"].copy()
# X_test_prepared=my_pipeline.transform(X_test)
# final_predict=model.predict(X_test_prepared)
# final_mse=mean_squared_error(Y_test,final_predict)
# final_rmse=np.sqrt(final_mse)

In [54]:
# final_rmse

2.9511375291040363

In [55]:
#LESSGOOOO

In [56]:
#print(final_predict, list(Y_test)) #comparing

# using the model

In [2]:
from joblib import dump,load
import numpy as np
model=load('FX_Finance.joblib')
input_features=np.array([[-0.43942006,  3.12628155, -1.12165014, -0.27288841, -1.42262747,
       -0.23979304, -1.31238772,  2.61111401, -1.0016859 , -0.5778192 ,
       -0.97491834,  0.41164221, -0.86091034]])
print(f"the predicted MEDV value for the given input is : {model.predict(input_features)}")

the predicted MEDV value for the given input is : [22.453]